#title {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    font-weight: bold;
    color: rgb(246, 120, 3);
    background-color: rgb(59, 59, 99);
    padding-top: 20px; 
    padding-bottom: 50px;

}

.flex-container {
    display: flex;
}

#drop-area {
    flex: 1;
    background: white;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccc;
    width: 500px;
    height: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 150px;
    margin-bottom: 50px; 
    padding: 100px 0px 100px 0px;
}

.upload-img {
    width: 100px;
    height: 80px;
}

#drop-area.highlight {
    border-color: blue;
  }

.colored-paragraph {
    color: gray;
    text-align: center;
}

.upload-submit-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.my-files {
    background-color: rgb(59, 59, 99);
    align-items: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px;
    margin-bottom: 20px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

.description-area {
    background: white;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-bottom: 5px; 
    border: 1px solid #ccc;
}

.class-area {
    background: white;
    flex: 1; 
    justify-content: center;
    width: 600px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 5px;
    padding-bottom: 5px; 
    margin-bottom: 50px;
    border: 1px solid #ccc;
}

.description-area h2 {
    color: #000000;
    font-size: 15px;
    text-align: center;
}

.class-area h2 {
    color: #000000;
    font-size: 15px;
    text-align: center;
}

#description {
    margin-top: 10px; 
    border: 2px solid lightblue;
}

#dropdown-basic {
    margin-top: 10px; 
    border: 2px solid lightblue;
}

#left-side {
    display: flex;
    flex-direction: row;
}

#right-side {
    display: flex;
    flex-direction: column;
}