body { 
  height: 100%;
  margin: 0;
  padding-top: 10px;
}

.image {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.all {
  height: 100%;
  margin-bottom: 50px;
}

.body {
  padding-top: 25px;
  padding-bottom: 25px;
}

.row-container {
  margin-left: 50px;
  margin-right: 50px;
}

.about-us-container {
  flex: 1;
  flex-direction: row; 
  border-radius: 2px;
  background: rgb(59, 59, 99);
  padding: 20px;
  text-align: left;
  margin-left: 0px;
}

.about-us-header {
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(246, 120, 3);
}

.about-us-description {
  margin-left: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: normal;
  color: white;
}

.update-date {
  margin-left: 20px; 
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
  color: gray;
}

.meet-the-team-container {
  flex: 1;
  flex-direction: column;
  border-radius: 2px;
  background: rgb(59, 59, 99);
  padding-top: 20px;
  text-align: left;
  margin-right: 0px;
  max-height: 100%;
}

.meet-the-team-header {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(246, 120, 3);
}

.team-member-card {
  padding: 20px;
  margin-bottom: 15px;
  max-height: 330px;
  width: 92%;
}

.team-member-photo {
  width: 85%;
  height: 85%;
}

.team-member-name {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: normal;
}

.team-member-role {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: small;
  font-weight: normal;
}

.member-description {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: normal;
}