.container {
    display: flex;
  }
  
  .user-info {
    margin-right: 20px;
  }
  
  .my-notes {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 300px;
    border: 1px solid #ccc;
    background-color: #D3D3D3;
    margin-right: 20px;
    background-color: rgb(69, 87, 141);
  }
  
  .my-classes {
    margin-left: auto;
  }

  .user-info {
    order: -1;
    background-color: rgb(69, 87, 141);
  }
  
  .class-code-box {
    margin-top: 10px;
  }
  
  .class-code-box label {
    margin-right: 10px;
  }
  
  .class-code-box input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .class-code-box button {
    padding: 6px 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .class-code-box button:hover {
    background-color: #45a049;
  }
  
  .my-classes-container {
    border: 1px solid #ccc;
    padding: 15px;
    max-width: 300px;
    background-color: #f9f9f9;
    background-color: rgb(69, 87, 141);
  }
  
  .my-classes-container h2 {
    color: #333;
  }
  
  .class-list {
    list-style: none;
    padding: 0;
  }
  
  .class-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .remove-button {
    padding: 4px 8px;
    background-color: #e57373;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #c62828;
  }
  